* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
}

.header {
    flex-direction: column;
    background-color: #1f2937;
    font-family: "Arial" , sans-serif;
    color: white;
    padding: 8px;
    height: 400px;
    justify-content: space-around;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.Hero-main-text,
.navigation {
    font-size: 18px;
    color: #e5e7ebcf;
}
.Header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-links {
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
    align-items: baseline;
}

.navigation {
    flex-direction: row;
}

.Hero-text {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 8px
    }

.content {
    justify-content: center;
    gap: 10px;
    
}

.sign-up {
    
    background-color: #3882F6;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: hidden;
    font-size: 15px;
    font-family: "Roboto" , sans-serif;
    
}

.img {
    width: 400px;
    background-color: rgb(116, 117, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 120px;
    border: solid #3882F6;
    border-radius: 10px;
    border-width: 3px;
}

main {
    flex-direction: column;
    align-items: center;
    
}

.innformation-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 30px
}

.illustrations {
    margin-top: -30px;
  width: 600px;
  height: 250px;
  gap: 40px;
  justify-content: center;
}

.squares {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.subtext {
    text-align: center;
    font-size: 14px;
    color: rgb(102, 100, 100)
}

article {
    background-color: #E5E7EB;
    width: 100vw;
    justify-content: center;
    padding: 50px;
}

.quote {
    flex-direction: column;
    width: 800px;
    align-items: center;
    
}

.quote-text {
    font-size: 36px;
    font-style: italic;

    
}

.author {
    font-size: 25px;
    align-self: flex-end;
}

.call-to-action {
    box-sizing: content-box;
    padding: 30px 50px;
    margin: 60px 40px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    width: 750px;
    justify-content: space-around;
}

.action-small-text {
    display: block;
}

.sign-up.white {
    border-style: solid;
    border-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 14px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}